.App {
  /* text-align: center; */
  margin: 20px;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 10px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#generated-story {
  overflow-y: auto;
  height: 450px;
  border: 1px solid black;
  padding: 5px;
}

#regen-text-btn {
  margin-top: 10px;
}

p, h1, h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.md-card-text p {
  font-size: 20px;
}

.md-card-text {
  font-size: 20px;
}
